<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Vijaya Raja Mayuri Akula</h1>
      <h2>  44563-03
        Mayuri Vijaya raja,
        I am a new admitted to the Spring 2019 batch and am  pursuing my Masters in Applied Computer Science at Northwest Missouri State University.
        I am from Hyderabad, India.
        I recently completed my under graduation from JBIT.
         And my hobbies are listening music, dancing. 
        My career plan is to work as a software developer.
         By the time the course gets completed I would like to be familiar with the latest technologies that can help me kick start my career.
        I find coding very interesting .
        I always enjoy doing it and learning new stuff.
        Linked in : https://www.linkedin.com/feed/
         </h2>

      <br>
      <br>
    </div>
  </div>
</div>