<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1> Prashanth Reddy Nachannagari </h1>
      <h2> Background </h2>
      <p>
        Iam doing my Masters in Applied Computer Science at Northwest Missouri State University
        I am from Hyderabad,India. I came to Maryville, Missouri recently for completing my Masters at NorthWest
        Missouri State University.
        Prior to coming here, I completed B.E in Information Technology at Chaitanya Bharathi Institute of
        Technology (CBIT) in 2016.Also I worked
        for 2 years as a software Engineer.
<br>
        https://github.com/prashanthr036
<br>
        https://www.linkedin.com/in/prashanth-reddy-a7009b9b

      </p>

      <br>
      <br>
    </div>
  </div>
</div>